.purp {
    background-color: #8E6877;
}

.tealy{
    background-color: #2f767f;
}

.blu{
    background-color: #607C8C;
}

.penk{
    background-color: #CE898C;
}

.beig {
    background-color: #F2EABC;
}
